<div class="ui inverted teal main menu">
    <div class="menu">
        <div class="right menu">
            <a href="{{ site.repo }}" class="item">
                <i class="github icon"></i>
                {% t pages.contribute %}
            </a>
        </div>
      <div class="ui dropdown item">
          {% t pages.languages %} <i class="dropdown icon"></i>
          <div class="menu">
            {% for language in site.languages %}
              {% assign title = "languages." | append: language %}
              {% if forloop.first %}
                <a href="/" class="item">
                  {% t {{title}} %}
                </a>
              {% else %}
                <a href="/{{ language }}" class="item">
                  {% t {{title}} %}
                </a>
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
</div>
